<form id="form-login">
   <label for="email">
    email:
    <input type="email" name="email" id="email" required="true">
   </label>
   <label for="password">
    password:
    <input type="password" name="password" id="password" required="true">
   </label>
   <button type="submit" id="btn-submit">Iniciar</button>
</form>