<div class="profile-container">
    <label for="first_name">
        Nombre:
        <p>{{user.name}}</p>
   </label>
   <label for="last_name">
        Apellido:
        <p>{{user.lastname}}</p>
   </label>
   <label for="email">
        Email:
        <p>{{user.email}}</p>
   </label>
   <label for="age">
        Edad:
        <p>{{user.age}}</p>
   </label>
</div>