<form id="form-signup">
   <label for="first_name">
    Nombre:
    <input type="text" name="first_name" id="first_name" required="true">
   </label>
   <label for="last_name">
    Apellido:
    <input type="text" name="last_name" id="last_name" required="true">
   </label>
   <label for="email">
    Email:
    <input type="email" name="email" id="email" required="true">
   </label>
   <label for="age">
    Edad:
    <input type="number" name="age" id="age" required="true">
   </label>
   
   <label for="password">
    Contraseña:
    <input type="password" name="password" id="password" required="true">
   </label>
   <button type="submit" id="btn-submit">Registrarme</button>
</form>